{% extends 'base_layout.html' %}
{% load static %}
{% block add_style %}
<link rel="stylesheet" href="{% static 'styles/players/list.css' %}">
{% endblock %}
{% block content %}
<div class="players-list">
    {% for player in players %}
        <div class="photo-container">
            <a href="{% url 'players:details' slug=player.slug %}">
                <img class="player-photo" src="{{ player.list_pic.url }}">
            </a>
            <div class="show-player-number">
                    <div class="player-number">{{ player.shirt_num }}</div>
            </div>
            <div class="show-player-name">
                <div class="player-name">{{ player.short_name }}</div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}